<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Gnosis_Entities_Assemblies" value="Gnosis.Entities.Examples,Gnosis.UnitTests"/>
  </appSettings>
  <connectionStrings>
    <add name="entities" connectionString="Server=localhost; Database=entities; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>